:root{
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --section-color:#eff7fa;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.main-btn{
    background-color: var(--green-color);
    color: black;
    padding : 0.5rem 1rem;
    text-decoration: none;
    transition: 0.1s ;
}
.main-btn:hover{
    color:white;
}

/* NavBar */
.navbar{
    background-color: var(--dark-color);
}
.navbar-brand img{
    width: 80px;
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color:var(--green-color);
}
.search{
    border-left: 1px solid var(--green-color);
}
.search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    box-shadow: none;
}
.navbar .navbar-toggler:focus{
    border-color: white;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color:var(--green-color);
}

/* landing */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 60px);
}

/* features */
.main-title::after{
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,0);
}
.main-title svg{
    color: rgb(255, 213, 0);
}
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left:50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 13.2rem;
    color:var(--section-color) ;
}
.features .icon-holder .icon{
    color: var(--green-color);

}

/* Our work */
.our-work{
    background-color: var(--section-color);
}
.our-work ul .active{
    background-color: var(--green-color);
    color: black;
}
.our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{
    color: var(--green-color);
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: var(--green-color);
    width:calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 6px));
}
.our-work .box:hover::before{
    transform: translateX(0);
}

/* stuff */
.stuff .description{
    max-width: 400px;
}

/* Team */
.team{
    background-color: var(--section-color);
}
.team .container .box h4{
    background-color: var(--green-color);
    color: white;
}

/* Project */
.project{
    background-color: var(--dark-color);
}

/* subscribe */
.subscribe{
    background-color: rgb(255, 213, 0);
}
.subscribe input[type="text"]{
    border-style: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe ::placeholder{
    color: white;
}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: rgb(255, 213, 0);
}

/* Footer */
footer{
    background-color: var(--dark-color);
}
footer .copyright > span{
    color: var(--green-color);
}
footer .contact ul svg{
    width: 20px;
    height: 20px;
}
footer .facebook{
    color: #1877f2;
}
footer .youtube{
    color: #ff0000;
}
footer .linkedin{
    color: #0077b5;
}
footer .twitter{
    color: #1da1f2;
}
